body {
    background-color: #ff416c; /* Rosa */
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 20px; /* Adiciona espaço ao redor do título */
}

.title {
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}

.container {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    max-width: 600px; /* Largura máxima do container */
    width: 90%;
    margin: 0 auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-height: 400px; /* Altura máxima do container */
    overflow-y: auto; /* Adiciona barra de rolagem vertical */
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 65, 108, 0.5) rgba(255, 65, 108, 0.1);
  }

  /* Estilos da barra de rolagem */
.container::-webkit-scrollbar {
    width: 4px;
  }

.container::-webkit-scrollbar-thumb {
    background-color: rgba(255, 65, 108, 0.5);
    border-radius: 20px;
  }
}

.todo-header {
    display: flex;
    flex-direction: column; /* Altera a direção do flex para coluna */
    align-items: flex-start; /* Alinha os itens à esquerda */
    margin-bottom: 10px;
}

.task-options {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.task-option {
    flex: 1;
    margin-right: 10px;
}

.task-option label {
    display: block;
    margin-bottom: 5px;
}

.task-option select {
    width: 100%; /* Reduzindo o tamanho do campo de seleção */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif; /* Aplica a fonte Poppins */
}

.task-input-container {
    width: 100%;
    margin-bottom: 10px;
}

.task-input-container label {
    display: block;
    margin-bottom: 5px;
}

/* Box de escrever a tarefa */
#taskInput {
    width: 95%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif; /* Aplica a fonte Poppins */
}

#addTaskButton {
    background: linear-gradient(to bottom right, #ff416c, #ff4b2b);
    border: none;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 30px;
    margin-top: 10px;
    align-self: center;
}

.filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.filter {
    cursor: pointer;
}

.filter.active {
    color: #ff416c; /* Rosa mais escuro */
}

#taskList {
    color: #555;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc; /* Adiciona uma borda inferior a cada tarefa */
    padding-bottom: 10px; /* Adiciona espaço entre as tarefas */

}

.task:last-child {
    border-bottom: none; /* Remove a borda inferior da última tarefa */
}

.task p {
    margin: 0;
    flex-grow: 1;
    margin-bottom: 5px;
}

.task input[type="checkbox"] {
    margin-right: 10px;
}

.completed-task {
    text-decoration: line-through;
}

.options {
    cursor: pointer;
    position: relative;
}

.options-menu {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.option-item {
    padding: 5px 10px;
    cursor: pointer;
}

.option-item:hover {
    background-color: #f0f0f0;
}

/* Adiciona estilos para as caixas de seleção e rótulos */
.select-container {
    display: flex;
    align-items: center;
    margin-right: 10px; /* Adiciona espaçamento entre as caixas */
}

.select-container label {
    margin-right: 5px;
}

.select-container select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}

#dateInputContainer,
#deadlineInputContainer {
    margin-top: 10px;
}
